[version]
year=2026
quarter=Q1
lv_version=26.1.0
edition=community

[prerequisites]
python3
apt-mirror
dpkg-dev
ttf-mscorefonts-installer
fontconfig
xfonts-75dpi-transcoded
xfonts-100dpi-transcoded

[labview]
ni-labview-${year}-desktop
ni-labview-${year}-vicompare
ni-labview-${year}-vimerge
ni-hwcfg-utility

[drivers]
ni-serial
ni-visa
ni-daqmx